@import '../styles/variables';
.chat{
    position: relative;
    border-right: 1px solid $light-gray;
    .chat-header{
        height: 90px;
        .img{
            border-radius: 50%;
            width: 40px;
            height: 40px;
            background-color: $light-gray;
        }
        span{
            color: $jet-black;
        }
    }

    hr{
        margin: 0 !important;
    }
    .messages{
        height: 410px;
        overflow-y: scroll !important;
        span{
            color: $jet-black;
        }
        .user-message,.my-message{
            .img{
                border-radius: 50%;
                width: 30px;
                height: 30px;
                background-color: $light-gray;
            }
            .message{
                max-width: 60%;
            }
        }

        .my-message .message p{
            background-color: $primary-color;
            color: $light-gray;
        }
    }

    .send-message{
        //background-color: black !important;
        position: absolute;
        bottom: 0px;
        right: 0;
        width: 100%;
        input{
            background-color: $primary-color;
            color: $light-gray;
            border-radius: 10px;
            font-size: 16px;

            &:disabled{
                cursor: not-allowed;
            }
        }

        .emoji{
            position: relative;
            .picker{
                position: absolute;
                bottom: 60px;
                right: 10px;
            }
        }
    }   
}