@import '../../styles/variables';
.navbar {
    border-right: 1px solid $dark-gray;
    z-index: 99999;
    .navbar-links {
        height: 100vh;
        box-shadow: 5px 0 10px $black-color;

        /* Horizontal shadow to the left */
        .icon.active {
            color: $primary-color;
            /* Active color */
            transform: scale(1.2);
            /* Optional: Scale the active icon */
        }
        

    }
    .navbar-content {
        flex: 1;
    }
}

