@import '../styles/variables';

.auth {
    background: linear-gradient(to right, $primary-color, $secondary-color);

    .form-control {
        border: 1px solid $secondary-color !important;
        border-radius: 0;
    }

    .login-p,
    .register-p {
        cursor: pointer;
        &:hover {
            background-color: $secondary-color;
            color: white;
        }
    }

    .btn {
        background-color: $secondary-color !important;
        border: none !important;
    }

}